<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCGfruEhP8Srin3DPdKM6x6VeY2J46ex-Q</string>
	<key>GCM_SENDER_ID</key>
	<string>646395989824</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.learnizer</string>
	<key>PROJECT_ID</key>
	<string>learnizer-1b9e1</string>
	<key>STORAGE_BUCKET</key>
	<string>learnizer-1b9e1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:646395989824:ios:e5cb0d17b5f06d2913b4a5</string>
</dict>
</plist>